.main-chat__messages_message
  .main-chat__messages_message__upper-info
    .main-chat__messages_message__upper-info__taker
      = message.user.name
    .main-chat__messages_message__upper-info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__messages-message__text
    - if message.content.present?
      %p.main-chat__message-message__text__content
        = message.content
    = image_tag message.image.url, class: 'main-chat__messages-message__text__image' if message.image.present?
