.wrapper {
  display: flex;
}

.main-chat {
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #fafafa;
  float: right;
  position: relative;
  top: 0;
  .main-chat__group-info {
    width: calc(100vw - 300px);
    height: 100px;
    background-color: #ffffff;
    position: relative;
    .group-info__left-box__current-group {
      height: 20px;
      color: #333333;
      font-size: 20px;
      position: absolute;
      top: 20px;
      left: 40px;
    }
    .group-info__left-box__member-list {
      color: #999999;
      font-size: 12px;
      position: absolute;
      top: 70px;
      left: 40px;
    }
    .group-info__edit-btn {
      font-size: 16px;
      color: #38aef0;
      width: 72px;
      height: 40px;
      border: 1px solid #38aef0;
      text-align: center;
      line-height: 40px;
      position: absolute;
      top: 28px;
      right: 40px;
    }
  }
  .main-chat__messages-list {
    height: calc(100vh - 190px);
    width: calc(100vw - 300px);
    background-color: #fafafa;
    .message {
      height: 42px;
      position: relative;
      top: 35px;
      left: 40px;
      .message__upper-info {
        width: 16px;
        display: flex;
        .message__upper-info--taker {
          height: 16px;
          color: #333333;
          font-weight: bold;
        }
        .message__upper-info--date {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
    } 
  }
  .main-chat__message-form {
    width: calc(100vw - 300px);
    height: 90px;
    background-color: #d2d2d2;
    position: absolute;
    bottom: 0;
    position: relative;
    justify-content: center;
    .new-message {
      height: 50px;
      width: calc(100% - 80px); 
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: flex;
      .input-box {
        width: 100%;
        position: relative;
        .input-box__text {
          height: 50px;
          width: 100%;
          padding: 0 40px 0 10px;
        }
        .input-box__image {
          font-size: 1.3rem;
          height: 50px;
          color: black;
          position: absolute;
          top: 10px;
          right: 10px;
          .input-box__file {
            display: none;
          }
        }
      }
      .submit-btn {
        background-color: #38aef0;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        width: 72px;
        margin-left: 20px;
      }
    }
  }
}
